<div class="component-article-featured">
	<div class="article-container">
		<div class="title-wrapper">
			<div class="smallText">{{ article }}</div>
			<h2 class="largeText">{{ title }}</h2>
			<a href="{{ link_url }}" class="button">{{ link_text }}</a>
		</div>
	</div>
	<div class="section-wide-img"></div>
</div>