<div class="logo-container">
  <div class="textblock">
    <div class="iconheading">
      {{ logo_img|raw }}
       <h4>{{ block_title1 }}</h4>
    </div>
    <p>{{ block_text1 }}</p>
  </div>
</div>
