{% embed '@bootstrap_barrio/layout/page.html.twig' %}
	{% block content %}
		{% embed '@myComponents/large_cta/_large_cta.html.twig' with {
    image: "<img src='/themes/custom/port16/components/large_cta/large-cta.jpeg'>",
    title: "I can't imagine life <br/> without a computer",
    link_url: "https://www.debugacademy.com",
    link_text: "Email Me",
    description: "<p>If it wasn't for my keyboard, I think I would have just stared at my ceiling all of 2020. Luckily, with some motivation and my laptop I was able to learn a new skill and become experienced at something I've always wanted to do.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>"
  } %}{% endembed %}
	{% endblock %}
{% endembed %}





