<div class="testimonial_container">
  <div><img src="/themes/custom/port16/components/testimonial_teaser/quotation.svg" alt="" class="quote-icon" width="58">
  </div>
  <h3>{{ testimonial_quote }}</h3>
  <div class="author-info">
    {{ testimonial_author }}
    <div class="separator"></div>
    <div>{{ author_url }}</div>
  </div>
</div>